* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
}



.profile-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0; 
	font-family: 'Space Grotesk';
}

.profile-container .header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
	height: 408px;
	padding: 1rem;
}

.header-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 1rem;
	padding-bottom: 0;
	max-width: 350px;
	max-height: 408px;
}

.buscador-header {
	max-width: 330px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 5rem;
	padding-bottom: 7.5rem;
	
}

.buscador-header #buscador-input {
	background: url(../assets/img/lupa.png) 5%;
	background-repeat: no-repeat;
	background-color: #F2F2F23D;
	border: 1px solid white;
	border-radius: 15px;
	width: 100%;
	padding: 0.7rem 1rem;
	
}

.buscador-header #buscador-button {
	background-color: #ED4AB3;
	color: white;
	font-family: 'Space Grotesk';
	border-radius: 13px;
	border: 1px solid white;
	padding: 0.7rem 0.1rem;
	font-size: 16px;
	margin-left: -2rem;
	width: 100%;

}


.profile-status {
	width: 300px;
	display: flex;
	flex-direction: row;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: -2rem;
}


.mensajes {
	background: url(../assets/img/hablar-boton.png) center;
	background-color: #F2F2F23D;
	background-repeat: no-repeat;
	border-style: none;
	width: 100%;
	height: 90px;
	margin-right: 1rem;
}

.notificaciones {
	background: url(../assets/img/campana-boton.png) center;
	background-color: #F2F2F23D;
	background-repeat: no-repeat;
	border-style: none;
	width: 100%;
	height: 90px;
	margin-right: 1rem;
}

#user {
	max-width: 77.75px;
	max-height: 70.81px;
	margin-bottom: 2rem;
	margin-left: 2.5rem;
}

.perfil {
	width: 100%;
	padding: 1.5rem;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.picture-confianza {
	max-width: 320px;
	justify-content: center;
	margin: 0 auto;
}

.profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#profile-picture-perfil {
        max-width:208.49px;
        max-height: 208.49px;
        margin: 0 auto;
    }

#check-verde {
    max-width: 55px;
    max-height: 55px;
    margin-left: -1.9rem;
    margin-top: 6rem;
}

.trust p {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    width: 70%;
	padding-top: 1rem; 
	margin-bottom: -1rem;
}

.trust-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center; 
}

.trust-flex img {
    max-width: 17px;
    max-height: 37px;
    margin-right: 1rem; 
}

.informacion-personal-flex {
	display: flex;
	flex-direction: column;
	max-width: 380px;
}

.descripcion {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin: 0 auto;
	padding-top: 3rem;
}

 .descripcion  h2 {
	font-size: 34px;
	font-weight: 800;
	width: 100%;
	color: #333333;
}

 .descripcion , .precios p {
	font-size: 20px;
	font-weight: 800;
	margin: 0;
	padding-top: 1rem;
	
}

.precios {
	padding-left: 2rem;
	margin-top: -4rem;
}

.precios h2 {
	font-size: 36px;
	padding-top: 0;
}

.calificacion-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
	padding-left: 2rem;
	margin-top: -2rem;
	max-width: 370px;
}


.calificacion-flex img {
    max-width: 29px;
    max-height: 27px;
    margin-right: 0.5rem;
}

.calificacion-flex p {
	align-items: center;
	justify-content: center;
	padding-top: 3.2rem;
	font-size: 18px;
	color:#AE0C79;
	font-weight: 800;

}

.pais-flex {
	display: flex;
	flex-direction: row;
	padding-left: 2rem;
	margin-top: -2rem;
	justify-content: left;
	}

.pais-flex img {
	max-width: 48px;
	max-height: 36px;
}

.pais-flex p {
	font-size: 20px;
	font-weight: 800;
	margin: 0;
	padding-left: 1rem;
}
 
.informacion-personal-flex a {
	padding-left: 1rem;
	color: #9B28AD;
	font-size: 18px;
	font-weight: 700;
}

.ocupacion {
	border: 1px solid #333333;
	margin-top: 2rem;
	border-radius: 15px;
	padding: 1rem;
	margin-bottom: 2rem;
}

.ocupacion h2 {
	font-size: 24px;
	padding: 1rem;
}

.ocupacion a {
	color: #9B28AD;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 2rem;
}

.divisor {
	border: 1px solid #333333;
	margin-top: 0.5rem;
}

.ocupacion p {
	font-size: 20px;
	font-weight: 700;
	padding-top: 1rem;
	padding-bottom: 0;
}

ul {
	list-style: none; /* Remove default bullets */
  }
  
ul li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #9B28AD; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
  }


  .contacto-presupuesto {
	border: 1px solid #333333;
	background-color: white;
	border-radius: 15px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	height: 768px;

  }

  .actividad-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5rem;
	margin-bottom: -2rem;
  }

  .contacto-presupuesto h2 {
	font-weight: 700;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	font-size: 25px;
  }

  .contacto-presupuesto span {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0;
  }

  .contacto-presupuesto p {
	font-size: 16px;
	font-weight: 500;
  }

  .contactar {
	text-align: center;
	justify-content: center;
	align-items: center ;
	padding: 1rem;
	border-radius: 15px;
	border-style: none;
	color: white;
	background-color: #F7A407;
	max-width: 240px;
	font-size: 20px;
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
  }

  .presupuesto {
	text-align: center;
	justify-content: center;
	align-items: center ;
	padding: 1rem;
	border-radius: 15px;
	border-style: none;
	color: white;
	background-color: #F7A407;
	max-width: 240px;
	font-size: 20px;
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
  }


  .profile-container .trabajos {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}

.trabajos h1 {
	font-size: 24px;
	color: #000000;
	padding-bottom: 2rem;
}


.profile-container .trabajos-container {
    border-radius: 30px;
    color: white;
	max-width: 320px;
	height: auto;
	border: 1px solid #9B28AD;
	
}

.trabajos-flex {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.profile-container .trabajos-container img {
	width: 100%;
	max-height: 144px;
	margin-bottom: 0;
	margin: 0 auto;
	justify-content: center;
	align-items: center ;
}

.profile-container .trabajos-description {
	padding-left: 1.5rem;
	padding-right: 1rem;
}

.profile-container .trabajos-description h1 {
	font-size: 20px;
	font-weight: 700;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0;
	
}

.profile-container .trabajos-description p {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 1rem;
	margin-bottom: 0;
	width: 80%;
	color:#000000;

	
}

.especializacion-precio {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: #782494;
	padding: 1rem;
	height: 66px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.habilidades {
	background: linear-gradient(0deg, rgba(208, 208, 232, 0.6) 0%, rgba(239, 239, 249, 0.6) 101.72%);
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	padding: 2rem;
}

.habilidades h1 {
	font-weight: 800;
	text-align: center;
	padding: 0.5rem;
}

.tablas {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	gap: 3rem;
}

.tablas table {
	background-color: white;
	color: #000000;
	border-radius: 15px;
	padding: 3rem;
	text-align: center;
	width: 100%;
	height: auto;
	justify-content: center;
	margin: 0 auto;
	font-weight: 14px;
	font-weight: 300;
}

#encabezado {
	background-color: #9B28AD;
	color: white;
	height: 60px;
	font-weight: 800;
}


.tablas td{
	padding: 0;
	text-align: center;
}

.calificaciones {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 1.5rem;
	align-items: center;
	justify-content: center;
	font-family: 'Space Grotesk';
}


.comentario-cliente {
	padding: 1.5rem;
	border-radius: 15px;
	border: 1px solid #333333;
	margin-top: 2rem;
	width: 95%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}


.comentario-cliente p {
	color: #333333;
	font-size: 14px
}

#profile-picture-comentario {
	margin: 0 auto;
}

.comentario-cliente h1 {
	font-weight: 800;
	font-size: 18px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.comentario-flex-left {
	margin: 0 auto;
	justify-content: center;
	max-width: 200px;
	text-align: center;
}

.comentario-cliente .calificacion-flex {
	padding-top: 4rem;
	margin-left: -1rem;
}

.comentario-flex-left p {
	margin-left: 1rem;
	margin-bottom: 0;
}

.comentario-header-right {
	max-width: 220px;
	margin-left: 3rem;
	padding: 0 1.7rem;
	margin: 0 auto;

}

#tipo {
	font-size: 18px;
	margin-left: -2rem;
	margin-top: -2rem;
	color:#AE0C79;
	font-weight: 500;
}

.comentario-title h1 {
	font-size: 27px;
}

.footer-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.footer {
	padding: 1rem;
	padding-top: 3rem;
	width: 100%;
	background-color: #ededf4;
}

.footer-item {
	padding-left: 0.3rem;
}
.footer-item p {
	color: #33333399;
	padding: 0;
}

.footer-item h2 {
	padding-bottom: 1rem;
	padding-top: 1rem;
	color: #000000
}

.footer-barra-flex {
	align-items: center;
	justify-content: center;
	width: 60%;
}

.footer-barra-flex {
	margin: 0 auto;
	display: flex;
	padding-bottom: 1rem;
}

.footer-barra-flex input {
	border-radius: 15px;
	width: 90%;
	border-style: none;
	height: 2.8rem;
	text-align: start;
	padding: 1rem;
	margin-right: -1rem;
}

.footer-barra-flex button {
	width: 60%;
	border-radius: 15px;
	height: 2.8rem;
	border-style: none;
	background-color: #2d65ee;
	color: #ffffff;
}

.separador {
	border-bottom: 1px solid #3333332e;
}

.copyright {
	display: none;
}

/* When the browser is at least 768px and above */
@media screen and (min-width: 768px) {
	/* Regla css para que el diseño no se modifique en varias pantallas */
	.profile-container {
		min-width: 90rem; /* el ancho minimo en px es 1440px, esto hace que en pantallas aun mas anchas no se deforme */
	}

	.profile-container .header {
		background-position: center;
		color: #fff;
		width: 100%;
		height: 300px;
		padding: 2rem 0;
	}

	.title-header img {
		width: 230px;
		height: 60px;
	}


	.header-flex {
		flex-direction: row;
		max-width: 1600px;
	}
	.buscador-header {
		max-width: 600px;
		display: flex;
		flex-direction: row;
		margin-top: -5rem;
	}

	.perfil {
		max-width: 1400px;
		margin-top: -3rem;
	}

	.picture-confianza {
		position: relative;
		margin-top: -5rem;
	}

	.informacion {
		display: flex;
		flex-direction: row;
		
	}

	.informacion-personal-flex {
		flex-direction: column;
		max-width: 1200px;
		margin-right: 4rem;
	}

	.nombre-precio {
		display: flex;
		flex-direction: row ;
	}

	.precios {
		padding: 5.7rem 0;
	}

	.descripcion {
		width: 100%;
		padding: 3rem 0;
		margin-left: 2rem;
		margin-right: 3rem;
	}

	.descripcion p {
		justify-content: left;
		margin-left: -7.1rem;
	}

	.calificacion-pais {
		display: flex;
		flex-direction: row;
		margin-left: -11rem;
		margin-top: -3rem;
		justify-content: left;
	
	}

	.calificacion-flex {
		width: 80%;
	}

	.calificacion-flex img {
		margin-right: 1rem;
	}


	.pais-flex {
		width: 20%;
		justify-content: right;
	}
	
	.profile-status button {
		margin-top: -3rem;
	}

	.profile-status img {
		margin-top: -2.2rem;
	}

	.ocupacion {
		width: 95%;
	}

	.contacto-presupuesto {
		max-width: 370px;
		position: relative;
		margin-top: -4rem;
	}

	
	.trabajos h1 {
		margin-bottom: 3rem;
	}
	.trabajos-flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 1400px;
		margin: 0 auto;
		justify-content: center;
		gap: 3rem;
	}

	.habilidades {
		padding: 5rem;
		display: flex;
	}

	.habilidades h1 {
		padding-bottom: 5rem;
		margin-left: -50rem;
		justify-content: flex-start;
		align-items: left;
	}

	.tablas {
		max-width: 1000px;
		display: flex;
		flex-direction: row;
		gap: 0;
	}

	#encabezado {
		height: 95px;
	}
	.tablas td {
		padding: 1rem;
	}

	.comentarios-flex {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		max-width: 1200px;
		padding-top: 2rem;
	}


	.comentario-cliente {
		display: flex;
		max-width: 1200px;
	}

	.comentario-header {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	#comentario-name {
		font-size: 16px;
		font-weight: 500;
		margin-left: -1.2rem;
		margin-bottom: 0;
	}

	.comentario-header-right {
		justify-content: right;
		padding-top: 3rem;
	}

	.calificacion-flex {
		max-width: 165px;
		max-height: 24px;
		padding: 1rem;
	}

	.comentario-title h1 {
		font-size: 31.25px;
		line-height: 43.75px;
		padding-left: 0.7rem;
	}
	
	.comentario-header-left {
		max-width: 600px;
	}

	.comentario-name {
		margin-left: -3rem;
		padding-left: 0;
		width: 100%;
	}


	.comentario-flex-left {
		display: flex;
		flex-direction: wrap;
		width: 100%;
	}

	

	.comentario-text .calificacion-flex img{
		margin-left: -0.8rem;
	}
	.comentario-text .calificacion-flex p { 
		margin-left: -3rem;
		width: 10rem;
	}
	.comentario-header-right {
		max-width: 600px;
		display: flex;
		flex-direction: row;
		padding: 0;
	}

	#tipo {
		padding-top: 1.9rem;
		margin-left: 0;
		padding-right: 0;
		margin-right: 0;
		width: 70%;
	}

	}


	

	.footer {
		width: 100%;
	}

	.footer-flex {
		
		width: 100%;
		margin: auto;
		justify-content: center;
		display: flex;
		flex-direction: row;
	}

	.footer-flex .title img {
		height: 65px;
		width: 243px;
		left: 240px;
		top: 69px;
		margin-right: 5rem;
		margin-left: 2rem;

	}

	.footer-item h2 {
		font-size: 20px;
		margin-bottom: 1rem;
	}

	.footer-item p {
		padding-right: 10rem;
		font-size: 16px;
	}

	#footer-item-3 p {
		font-size: 16px;
		color: #000000;

	}

	.footer-barra-flex {
		justify-content: left;
		margin-right: 1.3rem;
	}

	.footer-barra-flex input {
		height: 48px;
		width: 466px;
		top: 161px;
	}
	
	.footer-barra-flex button {
		height: 48px;
		width: 223px;
		left: 1335px;
		top: 161px;
		border-radius: 15px;
		text-align: center;
		margin-left: -10rem;
	}

	.footer-end {
		display: flex;
		justify-content: space-between;
		padding-top: 0.5rem;
		padding-left: 4rem;
		padding-right: 4rem;
		
		
	}

	.copyright {
		display: block;
		font-size: 14px;
		color: #3333335C;
		font-weight: 400;
	}

	.footer-links {
		font-size: 14px;
		color: #3333335C;
		font-weight: 400;
	}
}


/* When the browser is at least 1440px and above */
@media screen and (min-width: 2298px) {

	.publicacion-container .header {
		background-position: center top;
		background-size: cover;
		width: 100%;
		height: 800px;
	}

	.text-container {
		max-width: 1400px;
	}

	.header-ham {
		max-width: 100.9375rem;
		margin: auto;
		justify-content: space-between;
	}

}

/* When the browser is at least 1440px and above */
@media screen and (min-width: 2560px) {
	.about-container .header {
    	height: 80rem;
	}

	.text-container {
		max-width: 1400px;
	}

}
